<div class="login-container d-flex justify-content-center align-items-center">
  <div class="login-card">
      <div class="login-card-header">
          <h2 class="login-title">Login</h2>
      </div>
      <div class="login-card-body">
          <form (submit)="onLoginSubmit()">
              <div class="form-group">
                  <label for="username" class="login-label">Username</label>
                  <input type="text" id="username" name="username" class="login-input" [(ngModel)]="username" required>
              </div>
              <div class="form-group">
                  <label for="password" class="login-label">Password</label>
                  <input type="password" id="password" name="password" class="login-input" [(ngModel)]="password" required>
              </div>
              <button type="submit" class="btn oe_btn oe_login_button">Login</button>
          </form>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
              {{ errorMessage }}
          </div>
          <div class="text-center mt-3">
              <p>Don't have an account? <a href="/signup" class="login-link">Go to Sign Up Page</a></p>
          </div>
      </div>
  </div>
</div>