body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.container-fluid {
  background-color: #f7f8fc; /* Light grey background for the entire app */
  height: 100vh;
  display: flex;
  justify-content: center;
}

.project-container {
  margin-top: 20px;
  width: 100%;
}

.row {
  height: 100%;
  width: 100%;
}

.card-header h2,
.project-card h5 {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

.btn-teal {
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-teal:hover {
  background-color: #138496;
}

.project-list-wrapper, 
.task-list-wrapper {
  background-color: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.project-list-inner {
  border-right: 1px solid #e0e0e0;
  flex-grow: 1;
  max-height: 890px;
  overflow-y: auto;
}

.project-card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for each project card */
}

.project-card.selected {
  border: 1px solid #17a2b8;
  background-color: #e6f7f9; /* A light teal color to indicate selection */
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 10px;
}

.form-control {
  border-radius: 5px;
  font-size: 0.875rem;
  padding: .5rem;
}

.modal-content {
  border-radius: 10px;
}

.custom-close {
  border: none;
  background: none;
  font-size: 1.2rem;
}

.custom-close:hover {
  color: #f00;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  padding: 10px;
}

.project-card {
  box-shadow: none;
  border: 1px solid #e0e0e0;
}

.project-card:hover {
  background-color: #e9f5ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

.tasks-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-custom {
  position: relative;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.btn-close-custom {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-close-custom:hover {
  color: #ff0000; /* Optional: Change color on hover */
}

.tasks-body {
  padding: 10px;
}

.task-details {
  background-color: #fff;
  border-left: 1px solid #ddd;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
}

.task-details.expanded {
  background-color: #eef6ff;
  border-left: 2px solid #007bff;
  padding: 20px;
}