body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f0f0; /* Light background color */
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4; /* Light background color */
}

.signup-form {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 450px; /* Increased max-width */
  width: 100%;
  margin: 0 auto;
}

.signup-form h2 {
  text-align: center;
  color: #333;
  font-size: 2rem; /* Increased font size */
  margin: 0 0 20px 0;
}

.signup-form label {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
  font-size: 1.1rem; /* Increased font size */
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 15px; /* Increased padding */
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1.1rem; /* Increased font size */
  background-color: #fafafa; /* Light background color */
}

.signup-form button {
  display: inline-block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #17a2b8; /* Teal color */
  border: 1px solid #17a2b8; /* Matching border color */
  padding: 15px 20px; /* Increased padding */
  font-size: 1.1rem; /* Increased font size */
  border-radius: 4px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  width: 100%; /* Ensure button is full width */
}

.signup-form button:hover {
  background-color: #138496; /* Darker teal for hover */
  border-color: #138496; /* Matching border on hover */
}

.alert {
  padding: 10px;
  border-radius: 4px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  font-size: 1rem; /* Adjusted font size */
}

.text-center {
  text-align: center;
}
.signup-form a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.1rem; /* Increased font size */
}

.signup-form a:hover {
  text-decoration: underline;
}